
.icon {
    font-size: 1.5em;
    border-radius: 5px;
}

.projectCard {
    width: 48%;
    min-width: 300px;
    border-radius: 10px;
    border: solid 1px lightsteelblue;
}

.projectCardImg {
    border: 1px solid lightgray;
    padding: 1%;
    border-radius: 5px;
    width: 100%;
    overflow-x: hidden;
}

.projectsContainer {
    display: flex;
    justify-content: space-between;
}

.techCard {
    border: lightsteelblue solid 1px;
    width: 110px;
    padding: 2px;
    margin: 3px;
    border-radius: 15px;
}

.techCard p {
    
}

.centered {
    display: flex;
    justify-content: center;
}

.rounded5{
    border-radius: 5px;
}

.rounded15{
    border-radius: 15px;
}


@media screen and (max-width: 700px) {
    .projectsContainer {
        display: block;
    }

    .projectCard {
        width: 100%;
    }

    .techCard {
        min-width: 45%;
    }
    .techContainer {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}